@import './base.css';
@import "./reset.css";
#app {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 0;
  font-weight: normal;
  color: #f2f2f2;
}

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 32px auto;
}


