@import './base.css';
@import "./reset.css";
#app {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 0;
  font-weight: normal;
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.modal {
  position: fixed;
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #444444;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 12px;
  width: 50%;
  max-width: 400px;
}

.modal-content p {
  font-weight: bold;
  text-align: center;
}

.modal-content:has(.error) textarea {
  border: 1px solid crimson;
  outline: 1px solid crimson;
}


.modal-content .error {
  color: crimson;
  font-size: 16px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (prefers-color-scheme: dark) {

}
