@import './base.css';
@import "./reset.css";
#app {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 0;
  font-weight: normal;
  color: #f2f2f2;
}

main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 32px auto;
}

.get_back {
  display: flex;
  width: fit-content;
  color: rgba(242, 242, 242, 0.50);
  align-items: center;
  font-weight: 500;
  margin-top: 12px;
  cursor: pointer;
  gap: 8px;
  transition: color 0.5s ease-in-out;
}
.get_back::before {
  content: url("/img/arrow_left.svg");
  max-width: 24px;
  max-height: 24px;
  border-radius: 99px;
  transition: background-color 0.5s ease-in-out;
}
.get_back:hover::before {
  background-color: rgba(242, 242, 242, 0.10);
}
.get_back:hover {
  color: #ffffff;
}

